<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    <%- include('../partials/headercat') %>
    <section class = "creacion">
            <h1>Crearcion de producto</h1>
            <form class = "creacion-producto" method="POST" action="/products/crear" enctype="multipart/form-data">
                <span>Marca</span>
                <input type = "text" name = "marcaProducto" class = "marca">
                <p id = "errorMarca"></p>
                <span>Modelo</span>
                <input type = "text" name = "modeloProducto" class = "modelo">
                <p id = "errorModelo"></p>
                <span>Ingrese descripcion </span>
                <textarea name = "desc1" class = "desc1" placeholder="Ingrese texto aqui"></textarea>
                <p id = "errorDesc1"></p>
                <span>Ingrese descripcion bajo fotos</span>
                <textarea name = "desc2" placeholder="Ingrese texto aqui" class = "desc2"></textarea>
                <p id = "errorDesc2"></p>
                <span>Coloque la foto principal</span>
                <input name = "imagen" type = "file" class = "foto-principal" >
                <p id = "errorImagen"></p>
                <span>Rodados</span>
                <input type = "text" name = "rodadosProducto" placeholder="ej: 24,26,28" class = "rodados">
                <p id = "errorRodados"></p>
                <span>Colores</span>
                <input type = "text" name = "coloresProducto" placeholder="ej: Amarillo,Negro,Blanco" class = "colores">
                <p id = "errorColor"></p>
                <span>Stock</span>
                <input type = "number" name = "stockProducto"  class = "stock">
                <p id = "errorStock"></p>
                <span>Precio</span>
                <input type = "number" name = "precioProducto" class = "precio">
                <p id = "errorPrecio"></p>
                <span>Descuento</span>
                <input type = "number" name = "descuentoProducto" class = "descuento">
                <p id = "errorDescuento"></p>
                <span>Cuotas</span>
                <input type = "number" name = "cuotasProducto" class = "cuotas">
                <p id = "errorCuotas"></p>
                <div class="botones-creacion">
                <button type="submit">Crear</button>
                <button type="reset">Resetear</button>
                </div>
            </form>
    </section>

        <%- include('../partials/footer') %>
</body>
<script src ="/js/validacion-creacionProducto.js"></script>

</html>